
<div class="full">
<div class="container fullcontact" >
    <div class="container contactus" >
        <h2 >Contact Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit animi ipsum, temporibus voluptas minus eveniet maxime cum veritatis dolorum, quis eligendi. Ipsam iusto quia vitae quibusdam totam facere culpa nobis!
        Enim,  eum, tempora eos, nulla mollitia! Deleniti esse voluptatum aliquam laborum eius!
    </div>
    
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-floating">
                <p>Message</p>
                <textarea class="form-control" placeholder="Leave a comment here" id="theTextArea" style="height: 100px"></textarea>
              </div>
              <br>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
    </div>
</div>
</div>

<app-footer></app-footer>