<div class="full">
  <div class="container fullcontact">
    <div class="container contactus">
      <h2>Contact Us</h2>
      <p>
        For any further queries or assistance, don't hesitate to reach out to
        us. Our dedicated support team is available around the clock to address
        your concerns and provide you with the assistance you need. Feel free to
        contact us via email.
      </p>
    </div>

    <div class="container">
      <form (ngSubmit)="submit()">
        <div class="mb-3 form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" ngModel/>
        </div>
        <div class="mb-3 form-group">
          <label for="email" class="form-label"
            >Email address</label>
          <input type="email" class="form-control" id="email" ngModel />
        </div>
        <div class="form-floating form-group">
          <p>Message</p>
          <textarea
            class="form-control"
           
            placeholder="Leave a comment here"
            id="theTextArea"
            style="height: 100px"
            ngModel
           ></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
         
    </div>
  </div>
</div>

<app-footer></app-footer>
