.morefeatures{
margin: 50px;
}
.pros{
    padding: 70px;
}

.feature-heading{
    padding: 50px 70px 30px 100px;
}
.lead{
    padding: 0px 100px;
    margin-bottom: 50px;
}

.feature-divider{
    margin: 100px 50px 50px;
}
/* .featureimg{
    width: 30px;
    height: 30px;

} */
