<div class="morefeatures">
  <div class="row feature">
    <div class="col-md-7">
      <h2 class="feature-heading">
        <span class="text-muted">Login</span>
      </h2>
      <p class="lead">
        The Jio Video KYC login process offers a streamlined approach to remote
        customer verification. Users securely log in, verify their identity via
        video call guided by a Jio KYC agent, and gain access to services upon
        successful completion. This ensures regulatory compliance and enhances
        user convenience while maintaining security standards.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/login.jpg"
        width="500px"
        alt="location"
      />
      <!-- <h1>here is an image</h1> -->
    </div>
  </div>
  <hr class="feature-divider" />

  <div class="row feature">
    <div class="col-md-7 order-md-2">
      <h2 class="feature-heading">
        <span class="text-muted">Form</span>
      </h2>
      <p class="lead">
        Experience the hassle-free Jio Video KYC form-filling process for
        seamless customer verification. With user-friendly interfaces and
        intuitive prompts, completing the form is a breeze. Our dedicated Jio
        KYC agents are on hand to assist and ensure swift verification,
        maintaining compliance and security standards. Trust Jio for a smooth
        and secure onboarding experience.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/form.png"
        width="400px"
        alt="digilocker"
      />
    </div>
  </div>
  <hr class="feature-divider" />
  <div class="row feature">
    <div class="col-md-7">
      <h2 class="feature-heading">
        <span class="text-muted">Aadhaar and PAN from DigiLocker</span>
      </h2>
      <p class="lead">
        Unlock the power of convenience with Jio's integration of Aadhar and PAN
        card retrieval from DigiLocker! Seamlessly verify your identity with
        just a few clicks, eliminating the need for manual document uploads. Our
        streamlined process ensures swift verification, guided by our expert Jio
        KYC agents. Experience hassle-free onboarding while maintaining security
        and compliance standards. Trust Jio to simplify your verification
        journey with DigiLocker integration.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/digilocker.jpeg"
        width="400px"
        alt="digilocker"
      />
    </div>
  </div>
  <hr class="feature-divider" />

  <div class="row feature">
    <div class="col-md-7 order-md-2">
      <h2 class="feature-heading">
        <span class="text-muted">Location</span>
      </h2>
      <p class="lead">
        Elevate your verification experience with Jio's streamlined location
        recording feature! Seamlessly capture your location during the
        verification process, adding an extra layer of security and
        authenticity. Our innovative technology ensures precise location
        recording, enhancing the reliability of your verification. Trust Jio to
        prioritize your security and compliance needs while delivering a
        seamless onboarding experience. Experience peace of mind with Jio's
        advanced location recording feature.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/location.jpg"
        width="500px"
        alt="location"
      />
      <!-- <h1>here is an image</h1> -->
    </div>
  </div>
  <hr class="feature-divider" />
  <div class="row feature">
    <div class="col-md-7">
      <h2 class="feature-heading">
        <span class="text-muted">Live Verification</span>
      </h2>
      <p class="lead">
        Connect with our expert Jio KYC agents in real-time, ensuring swift and
        secure verification from anywhere, anytime. Experience the convenience
        of face-to-face interaction without leaving your comfort zone. Trust Jio
        to prioritize your convenience and security while delivering a seamless
        onboarding experience. Step confidently into the next phase of
        verification with Jio's live verification process.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/liveVerf.webp"
        width="500px"
        alt="location"
      />
      <!-- <h1>here is an image</h1> -->
    </div>
  </div>
  <hr class="feature-divider" />

  <div class="row feature">
    <div class="col-md-7 order-md-2">
      <h2 class="feature-heading">
        <span class="text-muted">PAN Card</span>
      </h2>
      <p class="lead">
        Accelerate your verification process with Jio's seamless PAN card
        verification in the next step! Our advanced system swiftly validates
        your PAN card details, ensuring accuracy and compliance. Experience the
        ease of streamlined verification as Jio's technology seamlessly
        integrates with your PAN card information.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/pancard.webp"
        width="400px"
        alt="digilocker"
      />
    </div>
  </div>
  <hr class="feature-divider" />
  <div class="row feature">
    <div class="col-md-7">
      <h2 class="feature-heading">
        <span class="text-muted">Facematch</span>
      </h2>
      <p class="lead">
        Our cutting-edge system ensures precise verification by matching your
        live facial features with the photo on your identification documents.
        Trust Jio to prioritize your safety and accuracy, providing a seamless
        onboarding experience.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/face match.png"
        width="500px"
        alt="location"
      />
      <!-- <h1>here is an image</h1> -->
    </div>
  </div>
  <hr class="feature-divider" />

  <div class="row feature">
    <div class="col-md-7 order-md-2">
      <h2 class="feature-heading">
        <span class="text-muted">KYC</span>
      </h2>
      <p class="lead">
        Congratulations, you're now officially verified with Jio's streamlined
        KYC process! Your data has been securely recorded and verified, ensuring
        compliance and security. Experience the peace of mind that comes with
        completing your KYC effortlessly and efficiently.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/kyc.png"
        width="400px"
        alt="digilocker"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
