
<footer class=" whole">
 
    <div class=" copyright" >
        © 2024 Copyright: Jio VideoKYC
        
      </div>
    <!-- Grid container -->
    <div >
      <!-- Section: Social media -->
      <section >
        <!-- Facebook -->
        <a  href="https://www.facebook.com/"> <img class="icon" src="../../../assets/images/facebook.png" alt="fb"></a>
  
        <!-- Twitter -->
        <a href="https://www.twitter.com/"> <img class="icon" src="../../../assets/images/twitter.png" alt="twitter"></a>
  
        <!-- Google -->
        <a  href="https://www.google.com/"> <img class="icon" src="../../../assets/images/social.png" alt="google"></a>
  
        <!-- Instagram -->
        <a  href="https://www.instagram.com/"> <img class="icon" src="../../../assets/images/instagram.png" alt="instagram"></a>
       
      </section>
    
    </div>
  
  </footer>