ul {
  padding-top: 8px;
  padding-right: 8px;
}

button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 6px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 23px;
  top: -3.5px;
  right: -80px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 20px;
}
