<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Jio VKYC</a>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      class="d-flex justify-content-around"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="home"
            routerLinkActive="active"
            href="home"
            rout
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLink="/about" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" href="contact">Contact</a>
        </li>
      </ul>
      <button class="btn-primary">See Demo</button>
    </div>
  </div>
</nav>
