<!-- <app-navbar></app-navbar> -->
<div class="outer">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="content" >
            <img class="bgimg" src="../../../assets/images/video-call.png" alt="">
            <div class="d-block w-100 container" >
              <h1>Introcuding you to our VideoKYC</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos velit sunt rerum voluptas quod accusamus impedit placeat nemo. Impedit quasi vero eum quidem quaerat. Voluptas autem commodi saepe vero quasi.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="content" >
            <img class="bgimg " src="../../../assets/images/rush.png" alt="">
            <div class="d-block w-100 container">
              <h1>Get verified within minutes!</h1>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsa eius facilis error ullam earum, praesentium, et labore hic natus sapiente eligendi sit modi minima voluptates beatae reiciendis? Adipisci, voluptatem!</p>
            </div>
            
          </div>
        </div>
        <div class="carousel-item">
          <div class="content" >
            <img class="bgimg" src="../../../assets/images/click.png" alt="">
            <div class="d-block w-100 container">
              <h1>Just a click away</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias atque, iste deleniti dicta nihil quo totam magni enim. Veniam assumenda id corporis facere commodi maxime ipsum illo! Minima, nesciunt iste!</p>
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

  <app-footer></app-footer>




